{% extends "::base.html.twig" %}

{% block title %}Homepage - {{ parent() }}{% endblock %}


{% block body %}
    <div class="hero" data-bg-image="images/background.jpg" style="background-image: url('/images/background.jpg');">
        <div class="container">

            {% block beadcrumbs %}
                {% include "::inc/breadcrumbs.html.twig" %}
            {% endblock %}
            <div class="col-sm-11 search-box-wrapper">

                {{ form_start(form, {'attr': {'class': 'find-location'}}) }}
                <div class="col-sm-5">
                {{ form_widget(form.city, {'attr': {'placeholder': 'City name'}}) }}
                    <input type="submit" id="submit" value="Search" class="btn btn-primary">
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>



    <div class="forecast-table" id="main-page-table">
        <div class="container">
            <div class="forecast-container">
                <div class="today forecast">
                    <div class="forecast-header">
                        <div class="day">{{ "now"|date('l') }}</div>
                        <div class="date">{{ "now"|date("Y/m/d") }}</div>
                    </div>
                    <div class="forecast-content">
                        <div class="location"></div>
                        <div class="degree">

                        </div>
                        <div class="part-of-the-day-providers">

                            <div class="degree">Temperature</div>
                            <small>Humidity</small>
                            <div class="degree"></div>
                            <small>Pressure</small>
                        </div>
                    </div>
                </div>



                {% for city in cities %}
                    <div class="forecast">
                        <div class="forecast-header">

                            {{ city.name }}

                        </div>
                        <div class="forecast-content">
                            <div class="forecast-icon">
                                {% if city.humidity > 50 %}
                                    <img src="/images/icons/icon-14.svg" alt="" width="48">
                                {% else %}
                                    <img src="/images/icons/icon-5.svg" alt="" width="48">
                                {% endif %}
                            </div>
                            <div class="degree">{{ city.temperatureHigh }}°C</div>
                            <div class="degree">{{ city.temperatureLow }}°C</div>
                            <small>  {{city.humidity}}</small>
                            <div class="degree"></div>
                            <small>{{ city.pressure}}</small>

                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>


{% endblock %}
