{% extends "::base.html.twig" %}

{% block title %}Homepage - {{ parent() }}{% endblock %}

{% block body %}
        <div class="col-sm-4 col-centered">
            {{ form_start(form, {'attr': {'class': 'form-inline'}}) }}
            {{ form_widget(form.city, {'attr': {'class': 'form-control', 'placeholder': 'Your city name'}}) }}
            {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
            {{ form_end(form) }}
        </div>
    <div class="weather-table-wrapper">
        <table class="table table-condensed" id="weather-table">
            <thead>
            <tr>
                <th>City</th>
                <th></th>
                <th>Temperature</th>
            </tr>
            </thead>
            <tbody>
            {% for city in cities %}
                <tr>
                    <td>
                        {{ city.name }}
                    </td>
                    <td>
                        <ul>
                            <li>Day</li>
                            <li>Night</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>{{ city.temperatureHigh }} °C</li>
                            <li>{{ city.temperatureLow }} °C</li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}
