{% extends '::base.html.twig' %}

{% block title %}Advanced Weather - Cities Manager{% endblock %}

{% block body %}

    <div class="hero" data-bg-image="/images/background.jpg" style="background-image: url('/images/background.jpg');">
        <div class="container">

            {% block beadcrumbs %}
                {% include "::inc/breadcrumbs.html.twig" %}
            {% endblock %}
        </div>
    </div>

    <div class="forecast-table">
        <div class="container">
            <div class="forecast-container">

                <table class="table table-condensed" id="weather-table">
                    <thead>
                    <tr>
                        <th>City</th>
                        <th>Country</th>
                        <th>Country (ISO 3166)</th>
                        <th>Remove link</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for city in cities %}
                        <tr>
                            <td>{{ city.name }}</td>
                            <td>{{ city.country }}</td>
                            <td>{{ city.countryIso3166 }}</td>
                            <td><a href='#' onclick="delete_city('{{ city.name }}','{{ city.id }}',this)">Delete</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td>No cities yet</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            {% for flashMessage in app.session.flashbag.get('error') %}

                <div class="alert alert-danger">
                    {{ flashMessage }}
                </div>

            {% endfor %}

            <div class="col-sm-11 search-box-wrapper">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>

            <div class="weather-table-wrapper">
                <table class="table table-condensed" id="weather-table">
                    <thead>
                    <tr>
                        <th>The most requested cities</th>
                        <th>Request count</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for request in requests %}
                        <tr>
                            <td>{{ request.city }}</td>
                            <td>{{ request.request_count }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td>No requests yet</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}