<div class="main-navigation">
    <ul class="nav navbar-nav navbar-left menu">
        <li class="menu-item">
            <a href="{{ path('homepage') }}">Weather</a>
        </li>
        <li class="menu-item">
            <a href="{{ path('providers_avg') }}">Providers</a>
        </li>
        <li class="menu-item">
            <a href="{{ path('api_information') }}">API</a>
        </li>
        <li class="menu-item">
            <a href="{{ path('contacts') }}">Contact us</a>
        </li>
        <li class="menu-item">
            <a href="{{ path('admin_main') }}">Admin</a>
        </li>
    </ul>
    {% if app.user is not null %}
        {% include "::inc/user_nav.html.twig" %}
    {% else %}
        {% include "::inc/header_actions.html.twig" %}
    {% endif %}
</div>